
.icon-mail:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-money:before { content: '\e803'; } /* '' */
.icon-mail-1:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-globe-alt:before { content: '\e806'; } /* '' */
.icon-globe:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-feather:before { content: '\e809'; } /* '' */
.icon-heart-circled:before { content: '\e80a'; } /* '' */
.icon-giraffe:before { content: '\e81b'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-gplus-1:before { content: '\f30f'; } /* '' */
.icon-evernote:before { content: '\f333'; } /* '' */